# Magic Quotes are the Root-of-all-Evil and must be burned at the stake.
php_flag magic_quotes_gpc off

<IfModule mod_rewrite.c>

	# Enable mod_rewrite for pretty urls
	RewriteEngine on
	# Treat all rules as starting from this directory
	RewriteBase /

	# Redirect rating requests specifically to the image generator	
	RewriteRule ratings/([0-9\.]*) resources/rating.php?r=$1	[L,NC,NS]

	# If the requeted item doesnt already exist, redirect it to our dispatch page
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule (.*) index.php								[L,NC,NS]

</IfModule>
