/*
	Layout
*/

body {
	margin: 0em;
	padding: 0em;
	font-family: verdana, helvetica, tahoma, sans-serif;
}

div.header {
	/*border-bottom: 1px solid grey;*/
	padding-bottom: 0.5em;
	margin: 0.5em 1em 1em 1em;
}

div.sidebar {
	border-right: 1px solid grey;
	margin: 0em;
	padding: 1em;
	float: left;
	line-height: 1.8em;
}

div.page {
	margin: 1em;
	margin-left: 15em;
}

div.footer {
	border-top: 1px solid grey;
	margin: 1em;
	margin-top: 2em;
	padding-top: 0.5em;
	height: 3em;
	clear: both;
	
	font-size: smaller;
	color: grey;
	text-align: center;
}

div.sidebar ul {
	list-style: none;
}

/*
	Page styles
*/

div.header h1 {
	font-size: 3.0em;
	margin: 0.2em;
	margin-left: 0em;
	color: dimgrey;
}

p.subtitle {
	font-weight: bold;
	font-style: italic;
	color: dimgrey;
}

h2 {
	color: steelblue;
}

a {
	text-decoration: underline;
	color: steelblue;
}

a:visited {
	color: dimgrey;
	text-decoration: none;
}


/*
	Utilities
*/
br.spacer {
	clear: both;
}

div.quote {
	margin-left: 1em;
	padding-left: 2em;
	border: 1px solid moccasin;
	background-color: moccasin;
	background-image: url('../resources/quote-32.png');
	background-repeat: no-repeat;
	background-position: top left;
}

div.quote blockquote {
	margin: 0em;
	padding: 0.3em 0.6em 0em 0.3em;
	font-style: italic;
	background-color: lightyellow;
}

img.at {
	height: 1em;
	width: 1em;
}

/*
	Dialog boxes
*/

p.message {
	border:				1px solid red;
	background-color:	lightsalmon;
	color:				darkred;
	padding:			10px;
}

p.information {
	border:				1px solid blue;
	background-color:	powderblue;
	color:				darkslateblue;
	padding:			10px;
}


/*
	Boxed item
*/

div.box {
	margin-bottom:	2em;
	padding: 1.5em;
	border: 1px solid grey;
}

div.box ul {
	width: 20em;
	line-height: 1.5em;
}

div.box span.result {
	float: right;
}


/*
	Forms
*/
p.loginform {
	width:				30em;
}
p.loginform label {
	line-height:		200%;
}
p.loginform input {
	float:				right;
}
