/**
 * StatusBoard normal stylesheet
 *
 */
@CHARSET "UTF-8";

@media all {
    body {
        padding-top: 40px;
        font-family: verdana, helvetica, sans-serif;
        background: #F7F7F7;
    }
    
    a {
        color: gray;
    }
    
    label {
        margin-left: 1em;
        margin-right: 1em;
    }
    
    footer {
        padding: 2em;
        font-size: smaller;
        font-style: italic;
        color: #333333;
        text-align: center;
    }
    
    /*
        Images
    */
    img.avatar {
        float: right;
        vertical-align: top;
        border: 1px solid grey;
        padding: 0.2em;
        margin: 0.75em;
    }
    
    img.at {
        height: 1em;
        width: 1em;
    }
    
    /*
        Homepage
    */
    ol.employment,ol.education {
        list-style: none;
        margin-left: 0px;
    }
    
    /*
        CV
    */
    #cv div.row {
        margin-bottom: 1.0em;
    }
    
    #cv h4 {
        margin-top: 0.75em;
    }
}

@media print {
    
    .no-print {
        display: none;
    }
    
    body {
        margin: 0;
    }
    
    #page_content {
        margin-left: 1.5em;
    }
    
    #skills {
        page-break-before: always;
    }
    
}