[logging.plugins]
type="array(string)"
value=FlatFile

[logging.FlatFile]
type="array(string)"
value=logfile

[logging.FlatFile.logfile.filename]
type=string
value=/var/log/homepage/homepage.log

[logging.FlatFile.logfile.format]
type=string
value="%timestamp% %hostname%:%pid% %progname%:%shortfile%[%line%] %message%"

[logging.FlatFile.logfile.severity]
type="array(string)"
value="debug
info
warning
error"

[logging.FlatFile.logfile.category]
type="array(string)"
value="default"

[cache.base_dir]
type=string
value=/dev/shm/homepage

[debug.display_exceptions]
type=bool
value=1

